In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
print(nba.info())

In [ ]:
import pandas as pd

# revenue = pd.read_csv("../data/revenue.csv")
revenue = pd.read_csv("../data/revenue.csv", index_col="Date")
revenue.sum(axis="columns")

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba["Name"]
type(nba["Name"])

In [ ]:
import pandas as pd

cruise_ships = pd.read_csv("../data/cruise_ships.csv")
operator = cruise_ships["Operator"]
tonnage = cruise_ships["Tonnage"]
name = cruise_ships["Name"]

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba[["Name", "Team"]]

In [ ]:
import pandas as pd

chicken = pd.read_csv("../data/chicken_restaurants.csv")
year_locations = chicken[["Year", "Locations"]]
locations_name_hq = chicken[["Locations", "Name", "Headquarters"]]

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba["Sport"] = "Basketball"
nba["League"] = "National Basketball Association"

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba.insert(loc=3,column="Sport",value="Basketball")

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba["Age in a Decade"] = nba["Age"] + 10

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba.dropna(how = "all")
nba.dropna(subset=["College"])

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba = nba.dropna()
print(nba)

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba = nba.dropna(subset=["Team", "Position"])
print(nba)

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba["First Name"] = nba["Name"].str.split(" ", 1, expand=True)[0]
nba["Last Name"] = nba["Name"].str.split(" ", 1, expand=True)[1]
print(nba)

In [ ]:
import pandas as pd

chicken = pd.read_csv("../data/chicken_restaurants.csv")
chicken = chicken.dropna()
print(chicken)

In [ ]:
import pandas as pd

chicken = pd.read_csv("../data/chicken_restaurants.csv")
chicken = chicken.dropna(subset=["Original Location", "Headquarters"])
print(chicken)

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
# nba = nba.fillna(0)
nba["College"] = nba["College"].fillna("Unknown")
nba

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba = nba.dropna(how="all")
nba["Age"] = nba["Age"].astype(int)

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba["Position"].nunique()

nba.info()
nba["Position"] = nba["Position"].astype("category")
nba.info()

In [ ]:
import pandas as pd

health = pd.read_csv("../data/health.csv")
health["Weight"] = health["Weight"].astype("string")
health["Height"] = health["Height"].astype("int")
health["Blood Type"] = health["Blood Type"].astype("category")

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba.sort_values(by="Name")

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba.sort_values("Salary", na_position="last")

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba.sort_values(by=["Team", "Name"])

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba.sort_values(["Position", "Salary"], ascending=[True, False])

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba["Age"].dropna().astype(int)
nba["Position"].nunique()

nba.info()
nba["Position"] = nba["Position"].astype("category")
nba.info()

In [ ]:
import pandas as pd

health = pd.read_csv("../data/health.csv")
health["Weight"] = health["Weight"].astype("string")
health["Height"] = health["Height"].astype("int")
health["Blood Type"] = health["Blood Type"].astype("category")
health

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba.sort_values(by="Name")
nba.sort_values("Salary", na_position="last")

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba.sort_values(by=["Team", "Name"])

# nba.sort_values(["Position", "Salary"], ascending=[True, False])

In [ ]:
import pandas as pd

df = pd.read_csv("../data/employees.csv", parse_dates=["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

df[df["Gender"] == "Male"]

df[df["Team"] == "Finance"]

mask1 = df["Gender"] == "Male"
mask2 = df["Team"] == "Marketing"
df[mask1 & mask2]

mask1 = df["Senior Management"]
mask2 = df["Start Date"] == "1999-01-01"
df[mask1 | mask2]

In [ ]:
# the office exercise

from datetime import datetime
import pandas as pd

# Part I

office_df = pd.read_csv("../data/the_office.csv", parse_dates=["Airdate"])

# 1
gregdaniels_episodes = office_df[office_df["Writer"] == "Greg Daniels"]

# 2
previous_episodes = office_df[office_df["Season"] < 8]

# 3
office_df[office_df["Airdate"] < datetime(2008,1,1)]

# Part II

office_df = pd.read_csv("../data/the_office.csv", parse_dates=["Airdate"])

# 1
mask1 = office_df["Viewership"] > 10
mask2 = office_df["Director"] == "Jeffrey Blitz"
office_df[mask1 & mask2]

# 2
office_df[office_df["Episode"] >= 15]

# 3 
mask1 = office_df["Episode"] == 6
mask2 = office_df["Airdate"] <= datetime(2010,1,1)
office_df[mask1 & mask2]

# Part III

office_df = pd.read_csv("../data/the_office.csv", parse_dates=["Airdate"])

# 1 
mask1 = office_df["Season"] == 4
mask2 = office_df["Director"] == "Harold Ramis"
office_df[mask1 | mask2]

# 2
mask1 = office_df["Viewership"] < 4
mask2 = office_df["Airdate"] <= datetime(2013,1,1)
office_df[mask1 | mask2]

# 3
mask1 = office_df["Episode"] == 9
mask2 = office_df["Name"] == "Niagara"
office_df[mask1 | mask2]

In [41]:
# HW: Research DF

# 4. duplicated() and drop_duplicates()

# drop_duplicates: Return DataFrame with duplicate rows removed.
# By default, it removes duplicate rows based on all columns.
# To remove duplicates on specific column(s), use subset.
# To remove duplicates and keep last occurrences, use keep.

     brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0