In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
print(nba.info())

In [ ]:
import pandas as pd

# revenue = pd.read_csv("../data/revenue.csv")
revenue = pd.read_csv("../data/revenue.csv", index_col="Date")
revenue.sum(axis="columns")

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba["Name"]
type(nba["Name"])

In [ ]:
import pandas as pd

cruise_ships = pd.read_csv("../data/cruise_ships.csv")
operator = cruise_ships["Operator"]
tonnage = cruise_ships["Tonnage"]
name = cruise_ships["Name"]

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba[["Name", "Team"]]

In [ ]:
import pandas as pd

chicken = pd.read_csv("../data/chicken_restaurants.csv")
year_locations = chicken[["Year", "Locations"]]
locations_name_hq = chicken[["Locations", "Name", "Headquarters"]]

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba["Sport"] = "Basketball"
nba["League"] = "National Basketball Association"

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba.insert(loc=3,column="Sport",value="Basketball")

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba["Age in a Decade"] = nba["Age"] + 10

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba.dropna(how = "all")
nba.dropna(subset=["College"])

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba = nba.dropna()
print(nba)

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba = nba.dropna(subset=["Team", "Position"])
print(nba)

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba["First Name"] = nba["Name"].str.split(" ", 1, expand=True)[0]
nba["Last Name"] = nba["Name"].str.split(" ", 1, expand=True)[1]
print(nba)

In [5]:
import pandas as pd

chicken = pd.read_csv("../data/chicken_restaurants.csv")
chicken = chicken.dropna()
print(chicken)

                                     Name           Original Location  Year  \
0                                 Zaxby's         Statesboro, Georgia  1990
1                                Wingstop              Garland, Texas  1994
2         Smithfield's Chicken 'N Bar-B-Q  Smithfield, North Carolina  1977
3                           Slim Chickens      Fayetteville, Arkansas  2003
4          Raising Cane's Chicken Fingers      Baton Rouge, Louisiana  1996
5                                 Popeyes            Arabi, Louisiana  1972
6                          Pollo Tropical              Miami, Florida  1988
7                           Pollo Campero                   Guatemala  1971
8          Louisiana Famous Fried Chicken     Los Angeles, California  1976
9             Lee's Famous Recipe Chicken                  Lima, Ohio  1966
10                                    KFC      North Corbin, Kentucky  1952
11                          Hartz Chicken                       Texas  1972
12                              Guthrie's         Haleyville, Alabama  1964
13                           Golden Chick           San Marcos, Texas  1967
14                          El Pollo Loco    Guasave, Sinaloa, Mexico  1974
15                        Cluck-U Chicken   New Brunswick, New Jersey  1985
16                       Church's Chicken          San Antonio, Texas  1952
17                        Chicken Express             Benbrook, Texas  1988
18                            Chick-fil-A          Hapeville, Georgia  1946
19                Chester's International         Birmingham, Alabama  1952
20                         Bush's Chicken                 Waco, Texas  1996
21                Brown's Chicken & Pasta        Bridgeview, Illinois  1949
22                          Boston Market       Newton, Massachusetts  1984
23  Bojangles' Famous Chicken 'n Biscuits   Charlotte, North Carolina  1977

                  Headquarters Locations            Areas Served
0              Athens, Georgia      900+    Southeast (and Utah)
1               Addison, Texas    1,250+              Nationwide
2   Smithfield, North Carolina        39          North Carolina
3       Fayetteville, Arkansas       75+              Nationwide
4       Baton Rouge, Louisiana       453       South and Midwest
5               Miami, Florida     3,102              Nationwide
6               Doral, Florida       141               Southeast
7                Dallas, Texas       400              Nationwide
8      Los Angeles, California       148       California, Texas
9   Fort Walton Beach, Florida       154       South and Midwest
10        Louisville, Kentucky    22,621              Nationwide
11               Spring, Texas       60+        Louisiana, Texas
12             Auburn, Alabama        29                   South
13           Richardson, Texas       181           South central
14      Costa Mesa, California       487                    West
15      College Park, Maryland        17            Mid-Atlantic
16            Atlanta, Georgia     1,009                   South
17             Burleson, Texas      200+           South central
18       College Park, Georgia     2,363              Nationwide
19     Mountain Brook, Alabama    1,000+              Nationwide
20                 Waco, Texas        90  Southwest and Colorado
21        Villa Park, Illinois        20    Illinois, New Jersey
22            Golden, Colorado       462              Nationwide
23   Charlotte, North Carolina      750+               Southeast

In [4]:
import pandas as pd

chicken = pd.read_csv("../data/chicken_restaurants.csv")
chicken = chicken.dropna(subset=["Original Location", "Headquarters"])
print(chicken)

                                     Name           Original Location  Year  \
0                                 Zaxby's         Statesboro, Georgia  1990
1                                Wingstop              Garland, Texas  1994
2         Smithfield's Chicken 'N Bar-B-Q  Smithfield, North Carolina  1977
3                           Slim Chickens      Fayetteville, Arkansas  2003
4          Raising Cane's Chicken Fingers      Baton Rouge, Louisiana  1996
5                                 Popeyes            Arabi, Louisiana  1972
6                          Pollo Tropical              Miami, Florida  1988
7                           Pollo Campero                   Guatemala  1971
8          Louisiana Famous Fried Chicken     Los Angeles, California  1976
9             Lee's Famous Recipe Chicken                  Lima, Ohio  1966
10                                    KFC      North Corbin, Kentucky  1952
11                          Hartz Chicken                       Texas  1972
12                              Guthrie's         Haleyville, Alabama  1964
13                           Golden Chick           San Marcos, Texas  1967
14                          El Pollo Loco    Guasave, Sinaloa, Mexico  1974
15                        Cluck-U Chicken   New Brunswick, New Jersey  1985
16                       Church's Chicken          San Antonio, Texas  1952
17                        Chicken Express             Benbrook, Texas  1988
18                            Chick-fil-A          Hapeville, Georgia  1946
19                Chester's International         Birmingham, Alabama  1952
20                         Bush's Chicken                 Waco, Texas  1996
21                Brown's Chicken & Pasta        Bridgeview, Illinois  1949
22                          Boston Market       Newton, Massachusetts  1984
23  Bojangles' Famous Chicken 'n Biscuits   Charlotte, North Carolina  1977

                  Headquarters Locations            Areas Served
0              Athens, Georgia      900+    Southeast (and Utah)
1               Addison, Texas    1,250+              Nationwide
2   Smithfield, North Carolina        39          North Carolina
3       Fayetteville, Arkansas       75+              Nationwide
4       Baton Rouge, Louisiana       453       South and Midwest
5               Miami, Florida     3,102              Nationwide
6               Doral, Florida       141               Southeast
7                Dallas, Texas       400              Nationwide
8      Los Angeles, California       148       California, Texas
9   Fort Walton Beach, Florida       154       South and Midwest
10        Louisville, Kentucky    22,621              Nationwide
11               Spring, Texas       60+        Louisiana, Texas
12             Auburn, Alabama        29                   South
13           Richardson, Texas       181           South central
14      Costa Mesa, California       487                    West
15      College Park, Maryland        17            Mid-Atlantic
16            Atlanta, Georgia     1,009                   South
17             Burleson, Texas      200+           South central
18       College Park, Georgia     2,363              Nationwide
19     Mountain Brook, Alabama    1,000+              Nationwide
20                 Waco, Texas        90  Southwest and Colorado
21        Villa Park, Illinois        20    Illinois, New Jersey
22            Golden, Colorado       462              Nationwide
23   Charlotte, North Carolina      750+               Southeast

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
# nba = nba.fillna(0)
nba["College"] = nba["College"].fillna("Unknown")
nba

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba = nba.dropna(how="all")
nba["Age"] = nba["Age"].astype(int)

In [ ]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")
nba["Position"].nunique()

nba.info()
nba["Position"] = nba["Position"].astype("category")
nba.info()

In [14]:
import pandas as pd

health = pd.read_csv("../data/health.csv")
health["Weight"] = health["Weight"].astype("string")
health["Height"] = health["Height"].astype("int")
health["Blood Type"] = health["Blood Type"].astype("category")

In [23]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba.sort_values(by="Name")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
270,Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,NaN
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
237,Zaza Pachulia,Dallas Mavericks,27.0,C,32.0,6-11,275.0,NaN,5200000.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba.sort_values("Salary", na_position="last")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
32,Thanasis Antetokounmpo,New York Knicks,43.0,SF,23.0,6-7,205.0,NaN,30888.0
291,Orlando Johnson,New Orleans Pelicans,0.0,SG,27.0,6-5,220.0,UC Santa Barbara,55722.0
130,Phil Pressey,Phoenix Suns,25.0,PG,25.0,5-11,175.0,Missouri,55722.0
135,Alan Williams,Phoenix Suns,15.0,C,23.0,6-8,260.0,UC Santa Barbara,83397.0
175,Jordan McRae,Cleveland Cavaliers,12.0,SG,25.0,6-5,179.0,Tennessee,111196.0
...,...,...,...,...,...,...,...,...,...
350,Briante Weber,Miami Heat,12.0,PG,23.0,6-2,165.0,Virginia Commonwealth,NaN
353,Dorell Wright,Miami Heat,11.0,SF,30.0,6-9,205.0,NaN,NaN
397,Axel Toupane,Denver Nuggets,6.0,SG,23.0,6-7,210.0,NaN,NaN
409,Greg Smith,Minnesota Timberwolves,4.0,PF,25.0,6-10,250.0,Fresno State,NaN
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba.sort_values(by=["Team", "Name"])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
318,Dennis Schroder,Atlanta Hawks,17.0,PG,22.0,6-1,172.0,NaN,1763400.0
323,Jeff Teague,Atlanta Hawks,0.0,PG,27.0,6-2,186.0,Wake Forest,8000000.0
309,Kent Bazemore,Atlanta Hawks,24.0,SF,26.0,6-5,201.0,Old Dominion,2000000.0
311,Kirk Hinrich,Atlanta Hawks,12.0,SG,35.0,6-4,190.0,Kansas,2854940.0
...,...,...,...,...,...,...,...,...,...
376,Markieff Morris,Washington Wizards,5.0,PF,26.0,6-10,245.0,Kansas,8000000.0
375,Nene Hilario,Washington Wizards,42.0,C,33.0,6-11,250.0,NaN,13000000.0
378,Otto Porter Jr.,Washington Wizards,22.0,SF,23.0,6-8,198.0,Georgetown,4662960.0
379,Ramon Sessions,Washington Wizards,7.0,PG,30.0,6-3,190.0,Nevada,2170465.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

nba.sort_values(["Position", "Salary"], ascending=[True, False])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
251,Dwight Howard,Houston Rockets,12.0,C,30.0,6-11,265.0,NaN,22359364.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
98,DeAndre Jordan,Los Angeles Clippers,6.0,C,27.0,6-11,265.0,Texas A&M,19689000.0
265,Marc Gasol,Memphis Grizzlies,33.0,C,31.0,7-1,255.0,NaN,19688000.0
220,Greg Monroe,Milwaukee Bucks,15.0,C,26.0,6-11,265.0,Georgetown,16407500.0
...,...,...,...,...,...,...,...,...,...
291,Orlando Johnson,New Orleans Pelicans,0.0,SG,27.0,6-5,220.0,UC Santa Barbara,55722.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
171,Dahntay Jones,Cleveland Cavaliers,30.0,SG,35.0,6-6,225.0,Duke,NaN
397,Axel Toupane,Denver Nuggets,6.0,SG,23.0,6-7,210.0,NaN,NaN
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN